body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
body a {
  color: #000;
}
body .icon-details {
  margin-bottom: 10px;
}
body .icon-details .element,
body .icon-details .fa {
  color: #8d8e8f;
  font-size: 14px;
}
body .icon-details .element {
  display: inline-block;
  margin-right: 10px;
}
body .icon-details .element .fa {
  margin-right: 3px;
}
body .header {
  margin-bottom: 25px;
}
body .header .logo {
  max-width: 122px;
}
body .user-info {
  display: table;
  margin-bottom: 45px;
}
body .user-info > div {
  display: table-cell;
  vertical-align: top;
}
body .user-info .avatar {
  margin-top: 5px;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  width: 80px;
  height: 80px;
}
body .user-info .avatar img {
  max-width: 80px;
}
body .user-info .details {
  padding-left: 20px;
}
body .user-info .details > h3 {
  font-size: 22px;
  margin: 0;
  font-weight: 600;
}
body .user-info .details > span {
  font-size: 18px;
  font-weight: 600;
}
body .user-info .details > span.salary-range {
  font-size: 16px;
  margin-left: 10px;
}
body .user-info .details .categories {
  max-width: 370px;
  font-size: 12px;
  color: #747576;
}
body .user-info .details .icon-details {
  margin-top: 10px;
}
body .user-info .details .icon-details .element {
  font-size: 13px;
}
body .user-info .details .icon-details .element .fa {
  color: #cc4544;
  font-size: 13px;
}
body .details {
  position: relative;
}
body .details .update-info {
  position: absolute;
  top: 0;
  right: 0;
  color: #b8b8b9;
  font-size: 12px;
}
body .details .panel {
  page-break-inside: avoid;
}
body .details .panel .title {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}
body .details .panel .details {
  font-size: 14px;
}
body .details .panel.work-experience > p {
  font-size: 15px;
  margin: 0;
}
body .details .panel.work-experience > p span {
  color: #999;
  margin-left: 10px;
}
body .details .panel.work-experience .work {
  margin-bottom: 35px;
}
body .details .panel.work-experience .work > p {
  font-weight: 600;
  margin-bottom: 0;
}
body .details .panel.edu .education {
  margin-bottom: 35px;
}
body .details .panel.edu .education > p {
  font-weight: 600;
  margin-bottom: 0;
}
body .details .panel.languages .lang-list {
  margin-bottom: 30px;
}
body .details .panel.languages .lang-list .element {
  display: inline-block;
}
body .details .panel.languages .lang-list .element:not(:last-child) {
  margin-right: 60px;
}
body .details .panel.languages .lang-list .element span {
  font-size: 15px;
  font-weight: 600;
}
body .details .panel.languages .lang-list .element span.level {
  font-size: 13px;
  font-weight: 500;
  color: #999;
  margin-left: 3px;
}
