body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;

  a {
    color: #000;
  }

  .icon-details {
    margin-bottom: 10px;
    .element, .fa {
      color: #8d8e8f;
      font-size: 14px;
    }
    .element {
      display: inline-block;
      margin-right: 10px;

      .fa {
        margin-right: 3px;
      }
    }
  }

  .header {
    margin-bottom: 25px;
    .logo {
      max-width: 122px;
    }
  }

  .user-info {
    display: table;
    margin-bottom: 45px;

    >div {
      display: table-cell;
      vertical-align: top;
    }

    .avatar {
      margin-top: 5px;
      border-radius: 4px;
      overflow: hidden;
      background: #fff;
      width: 80px;
      height: 80px;

      img {
        max-width: 80px;
      }
    }
    .details {
      padding-left: 20px;

      > h3 {
        font-size: 22px;
        margin: 0;
        font-weight: 600;
      }

      >span {
        font-size: 18px;
        font-weight: 600;

        &.salary-range {
          font-size: 16px;
          margin-left: 10px;
        }
      }

      .categories {
        max-width: 370px;
        font-size: 12px;
        color: #747576;
      }

      .icon-details {
        margin-top: 10px;
        .element {
          font-size: 13px;

          .fa {
            color: #cc4544;
            font-size: 13px;
          }
        }
      }
    }
  }

  .details {
    position: relative;

    .update-info {
      position: absolute;
      top: 0;
      right: 0;
      color: #b8b8b9;
      font-size: 12px;
    }
    .panel {
      page-break-inside: avoid;

      .title {
        margin: 0;
        font-size: 18px;
        font-weight: 600;
      }

      .details {
        font-size: 14px;
      }

      &.work-experience {
        >p {
          font-size: 15px;
          margin: 0;

          span {
            color: #999;
            margin-left: 10px;
          }
        }

        .work {
          margin-bottom: 35px;

          >p {
            font-weight: 600;
            margin-bottom: 0;
          }
        }
      }

      &.edu {
        .education {
          margin-bottom: 35px;

          >p {
            font-weight: 600;
            margin-bottom: 0;
          }
        }
      }

      &.languages {
        .lang-list {
          margin-bottom: 30px;

          .element{
            display: inline-block;
            &:not(:last-child){
              margin-right: 60px;
            }

            span {
              font-size: 15px;
              font-weight: 600;

              &.level {
                font-size: 13px;
                font-weight: 500;
                color: #999;
                margin-left: 3px
              }
            }
          }
        }
      }
    }
  }
}