doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
    head(lang="en")
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
    body(style="font-family: 'Open Sans', sans-serif; width: 100%; font-size: 10px;")
        div
            table
                thead
                    tr
                        th Email
                        th Categories
                        th City
                        th Salary range
                        th Timestamp
                        th Interval
                        th Verified
                        th Banned
                tbody
                    if data && data.length
                        - for subscription in data
                            tr
                                td(style='border-top: 1px solid #ddd;max-width: 150px;word-wrap: break-word;')=subscription['Email']
                                td(style='border-top: 1px solid #ddd;max-width: 250px;')=subscription['Categories']
                                td(style='border-top: 1px solid #ddd;')=subscription['City']
                                td(style='border-top: 1px solid #ddd;')=subscription['Salary range']
                                td(style='border-top: 1px solid #ddd;text-align: center;')=subscription['Timestamp']
                                td(style='border-top: 1px solid #ddd;text-align: center;')=subscription['Interval']
                                td(style='border-top: 1px solid #ddd;text-align: center;')=subscription['Verified']
                                td(style='border-top: 1px solid #ddd;text-align: center;')=subscription['Banned']





