doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
    head(lang="en")
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
    body(style="font-family: 'Open Sans', sans-serif; width: 100%; font-size: 10px;")
        div
            table
                thead
                    tr
                        th Email
                        th Name
                tbody
                    if data && data.length
                        - for user in data
                            tr
                                td(style='border-top: 1px solid #ddd;word-wrap: break-word;')=user['Email']
                                td(style='border-top: 1px solid #ddd;word-wrap: break-word;')=user['Name']