doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
    head(lang="en")
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
    body(style="font-family: 'Open Sans', sans-serif; width: 100%; font-size: 10px;")
        div
            table
                thead
                    tr
                        th Email
                        th Categories
                        th Company Name
                        th Salary Range
                        th City
                        th Vacancy Title
                        th Timestamp
                        th Matches
                        th Distributions
                tbody
                    if data && data.length
                        - for vacancy in data
                            tr
                                td(style='border-top: 1px solid #ddd;max-width: 150px;word-wrap: break-word;')=vacancy['Email']
                                td(style='border-top: 1px solid #ddd;')=vacancy['Categories']
                                td(style='border-top: 1px solid #ddd;')=vacancy['Company name']
                                td(style='border-top: 1px solid #ddd;')=vacancy['Salary range']
                                td(style='border-top: 1px solid #ddd;')=vacancy['City']
                                td(style='border-top: 1px solid #ddd;')=vacancy['Vacancy title']
                                td(style='border-top: 1px solid #ddd;')=vacancy['Timestamp']
                                td(style='border-top: 1px solid #ddd;text-align: center;')=vacancy['Matches']
                                td(style='border-top: 1px solid #ddd;text-align: center;')=vacancy['Distributions']





