doctype html
html(lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title Activate your account
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
        style.
            @media only screen and (max-width: 480px) {
                table[class="table"] {
                    width: 300px !important;
                }

                div[class="credentials"] {
                    width: 220px !important;
                }
            }
    body(style="font-family: 'Open Sans', sans-serif; background-color: #e4e9ea; padding-top:25px;")
        table(class='table', width='720' cellpadding='0', cellspacing='0', style='background-color: #fff; margin: auto; border: 0px; ')
            tr
                td
                    h2(style='font-size:16px; text-align: center; padding: 40px 20px 0px 20px; color:#45494b;') Your account has been created with the credentials below
            tr
                td(style='text-align:center', class='mobile-smaller')
                    div(style='margin:0 auto;background-color: #eaf5fc;padding:20px 20px;display: inline-block;text-align: left;width:300px; word-wrap: break-word;' class='credentials')
                        span(style='color:#88a8b8; font-size:13px;margin-right: 5px;') Email:
                        span(style='font-size: 15px; color:#1d88cf;')  #{credentials.email}
                        if credentials.password
                            br
                            span(style='color:#88a8b8; font-size:13px; margin-top:8px;margin-right: 5px;') Password:
                            span(style='font-size: 15px; color:#45494b;')  #{credentials.password}
            if fromVacancy
                tr
                    td
                        div(style='color:#a7aeb4; padding: 30px 20px 0; font-size: 15px; ')
                            | Please activate your account by clicking on the link below. Your vacancy will be sent for our review and after that it will be sent to all subscribers. Moreover, you will get immediate access to your Recrutoid profile and Published vacancies settings right after you activate your account.
            tr
                td
                    div(style='color:#1d88cf; font-size: 15px; text-align: center;margin-top: 30px;padding:10px;')
                        | Please click on the following link to activate your account:
                    div(style='color:#1d88cf; font-size: 15px; text-align: center; padding-top: 30px;')
                        a(href=context, style='color:#fff; background-color:#1d88cf; text-decoration: none; padding:14px 23px; font-weight: bold;')
                            | Active Your account
            tr.footer
                td
                    hr(style='margin-top:60px; border:none; border-top:1px solid #e4e6e8;')
                    div(style='text-align: center; margin:35px 0 15px;')
                        img(style='max-width:160px;', src=resourcesBase + 'logo.png', alt='Recrutoid')
                    div(style='text-align: center; margin-bottom:40px;')
                        a(style='color:#a7aeb4; text-decoration: underline; font-size:13px;', href='www.recrutoid.kz')
                            | www.recrutoid.kz