doctype html
html(lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
        style.
            @media only screen and (max-width: 480px) {
                table[class="table"] {
                    width: 300px !important;
                }
            }
    body(style="font-family: 'Open Sans', sans-serif; background-color: #e4e9ea; margin:0px;padding-top:25px")
        table(cellpadding='0', cellspacing='0', class='table' width='720' style='background-color: #fff; margin: auto; border: 0px; ')
            tr
                tr
                    td
                        h2(style='font-size:16px; text-align: center; padding: 40px 20px 0px 20px; color:#45494b;')='Your vacancy "'+ title +'" has been approved.'
            tr
                td
                    hr(style='border:none;border-top:1px solid #e4e6e8;margin-bottom: 0;margin-top: 30px;')
                    h2(style='font-size:20px; font-weight: 500; padding: 25px 20px; padding-bottom: 10px; margin:0px; color:#1d88cf;')=title
                    div(style='font-size:14px; padding:0px 20px;color: #45494b;')
                        span(style='display: inline-block;')
                            span(style='margin-right: 4px; color: #aeb7be') &bull;
                            span(style='margin-right: 10px;')=companyName
                        span(style='display: inline-block;')
                            span(style='margin-right: 4px; color: #aeb7be') &bull;
                            span(style='margin-right: 10px;')=salaryRange.name.en+' KZT'
                        span(style='display: inline-block;')
                            span(style='margin-right: 4px; color: #aeb7be') &bull;
                            span(style='margin-right: 10px;')=city.name.en
                    div(style='color:#aeb7be; font-size:14px; padding:0px 20px; float:left; width:100%;')
                        strong(style='margin-right: 4px;') &#8801;
                            - for (var i = 0; i < categories.length; ++i) {
                            span=categories[i].name.en
                            if i < categories.length - 1
                                span=', '
                            - }
            if details
                tr
                    td
                        hr(style='border:none;border-top:1px solid #e4e6e8;margin-bottom: 0;margin-top: 30px;')
                        div(style='font-size: 15px; padding: 20px; color: #45494b;')!=details
            tr.footer
                td
                    hr(style='border:none;border-top:1px solid #e4e6e8;')
                    div(style='text-align: center; margin:35px 0 15px;')
                        img(style='max-width:160px;', src=resourcesBase + 'logo.png', alt='Recrutoid')
                    div(style='text-align: center; margin-bottom:40px;')
                        a(style='color:#a7aeb4; text-decoration: underline; font-size:13px;', href='www.recrutoid.kz')
                            | www.recrutoid.kz
