doctype html
html(lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title Activate your account
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
        style.
            @media only screen and (max-width: 480px) {
                table[class="table"] {
                    width: 300px !important;
                }
            }
    body(style="font-family: 'Open Sans', sans-serif; background-color: #e4e9ea; margin:0px;padding-top:25px")
        table(cellpadding='0', cellspacing='0', class='table' width='720' style='background-color: #fff; margin: auto; border: 0px; ')
            tr
                td
                    h2(style='font-size:16px; text-align: center; padding: 40px 0 0; margin-bottom: 0; color:#45494b;') Your account has been successfully changed.
                    h3(style='font-size:15px; color:#45494b; text-align: center; font-weight: 500; margin-top: 0px;margin-bottom: 25px;') Your new credentials
            tr
                td(style='text-align:center')
                    div(style='margin:0 auto;background-color: #eaf5fc;padding:20px 20px;display: inline-block;text-align: left;min-width:300px')
                        span(style='color:#88a8b8; font-size:13px;margin-right: 5px;') Email:
                        span(style='font-size: 15px; color:#1d88cf;')  #{credentials.email}
                        br
                        span(style='color:#88a8b8; font-size:13px; margin-top:8px;margin-right: 5px;') Password:
                        span(style='font-size: 15px; color:#45494b;')  #{credentials.password}
            tr.footer
                td
                    hr(style='margin-top:60px; border:none; border-top:1px solid #e4e6e8;')
                    div(style='text-align: center; margin:35px 0 15px;')
                        img(style='max-width:160px;', src=resourcesBase + 'logo.png', alt='Recrutoid')
                    div(style='text-align: center; margin-bottom:40px;')
                        a(style='color:#a7aeb4; text-decoration: underline; font-size:13px;', href='www.recrutoid.kz')
                            | www.recrutoid.kz