doctype html
html(lang='en')
   head
      meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
      style.
         @media only screen and (max-width: 480px) {
            table[class="table"] {
               width: 300px !important;
            }
         }
   body(style="font-family: 'Open Sans', sans-serif; background-color: #e4e9ea; margin:0px;padding-top:25px")
      table(cellpadding='0', cellspacing='0', class='table' width='720' style='background-color: #fff; margin: auto; border: 0px; ')
         tr
            td
               h2(style='font-size:16px; text-align: center; padding: 40px 20px 0px 20px; color:#45494b;') Your email has been successfully changed

         tr
            td
               div(style='color:#1d88cf; font-size: 15px; text-align: center;')
                  | Please click on the following link to activate your account:
               div(style='color:#1d88cf; font-size: 15px; text-align: center; padding-top: 30px;')
                  a(href=link, style='color:#fff; background-color:#1d88cf; text-decoration: none; padding:10px 23px; font-weight: bold;')
                     | Verify Your E-mail
         tr.footer
            td
               hr(style='margin-top:60px; border:none;border-top:1px solid #e4e6e8;')
               div(style='text-align: center; margin:35px 0 15px;')
                  img(style='max-width:160px;', src=resourcesBase + 'logo.png', alt='Recrutoid')
               div(style='text-align: center; margin-bottom:40px;')
                  a(style='color:#a7aeb4; text-decoration: underline; font-size:13px;', href='www.recrutoid.kz')
                     | www.recrutoid.kz

