tr
    td
        h2(style='font-size:20px; font-weight: 500; padding: 25px 20px; padding-bottom: 10px; margin:0px; color:#1d88cf;')=vacancy.title
        div(style='font-size:14px; padding:0px 20px;color: #45494b;')
            span(style='display: inline-block;')
                span(style='margin-right: 4px; color: #aeb7be') &bull;
                span(style='margin-right: 10px;')=vacancy.companyName
            span(style='display: inline-block;')
                span(style='margin-right: 4px; color: #aeb7be') &bull;
                span(style='margin-right: 10px;')=vacancy.salaryRangeId.name.en+' KZT'
            span(style='display: inline-block;')
                span(style='margin-right: 4px; color: #aeb7be') &bull;
                span(style='margin-right: 10px;')=vacancy.cityId.name
        div(style='color:#aeb7be; font-size:14px; padding:0px 20px; float:left; width:100%;')
            strong(style='margin-right: 4px;') &#8801;
            - for (var i = 0; i < vacancy.categories.length; ++i) {
            span=vacancy.categories[i]
            if i < vacancy.categories.length - 1
                span=', '
            - }
if vacancy.details
    tr
        td
            hr(style='border:none;border-top:1px solid #e4e6e8;margin-bottom: 0;margin-top: 30px;')
            div(style='font-size: 15px; padding: 20px; color: #45494b;')!=vacancy.details
tr
    td(style='padding-bottom: 20px;')
        hr(style='border:none;border-top:1px solid #e4e6e8;margin-top:30px;')
        h4(style='font-size:14px; font-weight: 700; padding: 25px 20px 0px 20px; margin:0px; color:#a7aeb4; text-align: center;') My settings
        ul(style='list-style: none; font-size:14px; color:#a7aeb4; padding-left: 20px;padding-right: 20px;')
            li(style='font-weight: 700;margin-left: 0;')
                | Notifications:
                span(style='font-weight: 500;')
                    |  #{weekly ? 'Weekly' : 'Daily'}
            li(style='font-weight: 700;margin-left: 0;')
                | Salary expectations:
                span(style='font-weight: 500;')
                    |  #{salary ? salary + ' KZT' : 'All'}
            li(style='font-weight: 700;margin-left: 0;')
                | City:
                span(style='font-weight: 500;')
                    |  #{city ? city : 'All'}
            li(style='font-weight: 700;margin-left: 0;')
                | Category:
                span(style='font-weight: 500;')
                    |  #{categoriesJoined}
        a(href=context, style='color:#1d88cf; text-decoration: underline; font-size:14px; padding-left: 20px;') Change
tr.footer
    td
        hr(style='border:none;border-top:1px solid #e4e6e8;')
        div(style='text-align: center; margin:35px 0 15px;')
            img(style='max-width:160px;', src=resourcesBase + 'logo.png', alt='Recrutoid')
        div(style='text-align: center; margin-bottom:40px;')
            span(style='color:#a7aeb4; font-size: 14px;') To send your CV just reply this email.
                br
            a(style='color:#1d88cf; text-decoration: underline; font-size:14px;', href='www.recrutoid.kz')
                | www.recrutoid.kz