doctype html
html(lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
        style.
            @media only screen and (max-width: 480px) {
                table[class="table"] {
                    width: 300px !important;
                }
            }
    body(style="font-family: 'Open Sans', sans-serif; background-color: #e4e9ea; margin:0px;padding-top:25px")
        table(cellpadding='0', cellspacing='0', class='table' width='720' style='background-color: #fff; margin: auto; border: 0px; ')
            if vacancies
                include weekly.vacancies.tpl.jade
                tr(style='height: 20px;')
            else
                include daily.vacancy.jade
        div(style='width:100%; text-align: center; padding:30px 0px;')
            if vacancies
                p(style="color: #909fa6;margin: 0;font-size: 13px;") Do not reply to this email!
            a(href=context + '?unsubscribe', style='color:#1d88cf; text-decoration: underline; font-size:13px;') Unsubscribe
