doctype html
html(lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title "Your account deactivation
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
    body(style="font-family: 'Open Sans', sans-serif; background-color: #e4e9ea; margin:0px;")
        table(cellpadding='0', cellspacing='0', style='background-color: #fff; width:720px; margin: 40px auto; border: 0px; ')
            tr
                td
                    h2(style='font-size:16px; text-align: center; padding: 40px 20px 0px 20px; margin-bottom:0px;color:#45494b;')
                        | Your vacancy posting is due to be deleted.
                    h3(style='font-size:15px; color:#cc4544; text-align: center; font-weight: 500;') If you want to extend or modify your posting please follow the link below:
            tr
                td
                    div(style='color:#1d88cf; font-size: 15px; text-align: center; padding-top: 20px;')
                        a(href=context, style='color:#fff; background-color:#cc4544; text-decoration: none; padding:14px 23px; font-weight: bold;')
                            | Extend your vacancy publication
            tr.footer
                td
                    hr(style='margin-top:60px; border:none; border-top:1px solid #e4e6e8;')
                    div(style='text-align: center; margin:35px 0 15px;')
                        img(style='max-width:160px;', src=resourcesBase + 'logo.png', alt='Recrutoid')
                    div(style='text-align: center; margin-bottom:40px;')
                        a(style='color:#a7aeb4; text-decoration: underline; font-size:13px;', href='www.recrutoid.kz')
                            | www.recrutoid.kz