tr
    td
        hr(style='border:none;border-top:1px solid #e4e6e8;margin-bottom: 0;margin-top: 30px;')
        if vacancy.title
            h2(style='font-size:20px; font-weight: 500; padding: 25px 20px; padding-bottom: 10px; margin:0px; color:#1d88cf;')=vacancy.title
        div(style='font-size:14px; padding:0px 20px;color: #45494b;')
            if vacancy.companyName
                span(style='display: inline-block;')
                    span(style='margin-right: 4px; color: #aeb7be') &bull;
                    span(style='margin-right: 10px;')=vacancy.companyName
            if vacancy.salaryRange
                span(style='display: inline-block;')
                    span(style='margin-right: 4px; color: #aeb7be') &bull;
                    span(style='margin-right: 10px;')=vacancy.salaryRange+' KZT'
            if vacancy.city
                span(style='display: inline-block;')
                    span(style='margin-right: 4px; color: #aeb7be') &bull;
                    span(style='margin-right: 10px;')=vacancy.city
        if vacancy.categories && vacancy.categories.length
            div(style='color:#aeb7be; font-size:14px; padding:0px 20px; float:left; width:100%;')
                strong(style='margin-right: 4px;') &#8801;
                - for (var i = 0; i < vacancy.categories.length; ++i) {
                span=vacancy.categories[i]
                if i < vacancy.categories.length - 1
                    span=', '
                - }
if vacancy.details
    tr
        td
            hr(style='border:none;border-top:1px solid #e4e6e8;margin-bottom: 0;margin-top: 30px;')
            div(style='font-size: 15px; padding: 20px; color: #45494b;')!=vacancy.details