if vacancies && vacancies.length
    tr
        td
            p(style='font-size:15px; color:#a7aeb4;text-align: center;margin: 20px;')
                | This is a digest of the most relevant vacancies this week.
            hr(style='border:none;border-top:1px solid #e4e6e8;')
    for vacancy in vacancies
        tr
            td
                a(href=vacancy.context, style='text-decoration:none')
                    h2(style='font-size:16px; font-weight: 500; padding: 25px 20px; padding-bottom: 0; margin:0px; color:#1d88cf;')=vacancy.title

                div(style='font-size:14px; padding:0px 20px;color: #45494b;')
                    span(style='display: inline-block;')
                        span(style='margin-right: 4px; color: #aeb7be') &bull;
                        span(style='margin-right: 10px;')=vacancy.cityId.name
                    span(style='display: inline-block;')
                        span(style='margin-right: 4px; color: #aeb7be') &bull;
                        span(style='margin-right: 10px;')=vacancy.salaryRangeId.name.en + ' KZT'
                    span(style='display: inline-block;')
                        span(style='margin-right: 4px; color: #aeb7be') &bull;
                        span(style='margin-right: 10px;')=vacancy.companyName
                    span(style='display: inline-block;')
                        span(style='margin-right: 4px; color: #aeb7be') &bull;
                        span(style='margin-right: 10px;')
                            a(href="mailto:"+vacancy.email, style='color: #909fa6')
                                | #{vacancy.email}
                div(style='color:#aeb7be; font-size:14px; padding:0px 20px; float:left; width:100%;')
                    span(style='margin-left: 10px;')=vacancy.createDate
    tr
        td(style='padding-bottom: 20px;')
            hr(style='border:none;border-top:1px solid #e4e6e8;margin-top:30px;')
            h4(style='font-size:14px; font-weight: 700; padding: 25px 20px 0px 20px; margin:0px; color:#a7aeb4; text-align: center;') My settings
            ul(style='list-style: none; font-size:14px; color:#a7aeb4; padding-left: 20px;padding-right: 20px;')
                li(style='font-weight: 700;margin-left: 0;')
                    | Notifications:
                    span(style='font-weight: 500;')
                        |  #{weekly ? 'Weekly' : 'Daily'}
                li(style='font-weight: 700;margin-left: 0;')
                    | Salary expectations:
                    span(style='font-weight: 500;')
                        |  #{salary ? salary + ' KZT' : 'All'}
                li(style='font-weight: 700;margin-left: 0;')
                    | City:
                    span(style='font-weight: 500;')
                        |  #{city ? city : 'All'}
                li(style='font-weight: 700;margin-left: 0;')
                    | Category:
                    span(style='font-weight: 500;')
                        |  #{categoriesJoined}
            a(href=context, style='color:#1d88cf; text-decoration: underline; font-size:14px; padding-left: 20px;') Change
    tr.footer
        td
            hr(style='border:none;border-top:1px solid #e4e6e8;margin-top:30px;')
            div(style='text-align: center; margin:35px 0 15px;')
                img(style='max-width:160px;', src=resourcesBase + 'logo.png', alt='Recrutoid')
            div(style='text-align: center; margin-bottom:40px;')
                span(style='color:#a7aeb4; font-size: 14px;') Create your CV.
                    br
                span(style='color:#a7aeb4; font-size: 14px;') Employers want to see you too.
                    br
                a(style='color:#1d88cf; text-decoration: underline; font-size:14px;', href='www.recrutoid.kz')
                    | www.recrutoid.kz